<div style="display:inline-block; margin-right: 50px;">
    <h3>Grid with transactions</h3>
    <div>
        <button (click)="updateGridData()">Update Grid Data</button>
    </div>
    <igx-grid [transactions]="true" #grid1 [data]="data" [primaryKey]="'ProductID'" [autoGenerate]="false" [displayDensity]="density"
        width="600px" height="550px" [paging]="true">
        <igx-column [pinned]="true">
            <ng-template igxCell let-cell="cell" let-val>
                <button (click)="deleteRow($event, cell.cellID.rowID)">Delete</button>
            </ng-template>
        </igx-column>
        <igx-column field="ProductID" header="Product ID" [headerClasses]="'prodId'" [editable]="true"></igx-column>
        <igx-column field="ReorderLevel" [sortable]="true" editable="true" [dataType]="'number'"></igx-column>
        <igx-column field="ProductName" header="ProductName" [dataType]="'string'" editable="true"></igx-column>
        <igx-column field="UnitsInStock" header="UnitsInStock" [dataType]="'number'" editable="true">
            <ng-template igxCellEditor let-cell="cell">
                <input name="units" [(ngModel)]="cell.value" style="color: black" />
            </ng-template>
        </igx-column>
        <igx-column field="OrderDate" [dataType]="'date'" editable="true"></igx-column>
        <igx-column field="Discontinued" header="Discontinued" [dataType]="'boolean'" editable="true"></igx-column>
    </igx-grid>
</div>
<div style="display:inline-block">
    <h3>Grid without transactions</h3>
    <igx-grid #grid [data]="dataWithoutPK" [displayDensity]="'compact'" width="600px" height="550px" [paging]="true">
        <igx-column [pinned]="true">
            <ng-template igxCell let-cell="cell" let-val>
                <button (click)="deleteRowbyIndex(cell.cellID.rowIndex)">Delete</button>
            </ng-template>
        </igx-column>
        <igx-column field="ProductID" header="Product ID" [headerClasses]="'prodId'"></igx-column>
        <igx-column field="ReorderLevel" [dataType]="'number'"></igx-column>
        <igx-column field="ProductName" header="ProductName" [dataType]="'string'"></igx-column>
        <igx-column field="UnitsInStock" header="UnitsInStock" [dataType]="'number'">
            <ng-template igxCellEditor let-cell="cell">
                <input name="units" [(ngModel)]="cell.value" style="color: black" />
            </ng-template>
        </igx-column>
        <igx-column field="OrderDate" [dataType]="'date'"></igx-column>
        <igx-column field="Discontinued" header="Discontinued" [dataType]="'boolean'"></igx-column>
    </igx-grid>
</div>